body{
  background-color: black;
}
h1{
  color: brown;
}
div {
  background-color: blueviolet;
  width: 500ww
}
divRojo{
  background-color: rgb(250, 0, 0);
}
#divUnico{
  background-color: chocolate;
}
#dibujo {
  width: 20vw;
  height: 20vw;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sombrero {
  width: 40%;
  height: 40%;
  background-color: rgb(235, 50, 47);
  border-radius:50%;
  position:absolute;
  top:40%;
  left:28%;
  animation-name: cambiasombrero;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes cambiasombrero {
  0% {background-color: antiquewhite; height:0%}
  25% {background-color: rgb(147, 223, 152);}
  50% {background-color: rgb(176, 148, 201);}
  100% {background-color: rgb(213, 47, 47); heigth: 20%}

}

#lengua {
  width: 36%;
  height: 32%;
  background-color: rgb(239, 143, 214);
  border-radius:50%;
  position:absolute;
  top:48%;
  left:30%;
}

#lengua:hover {
  background-color: rgb(86, 86, 160);
}

#cara {
  width: 60%;
  height: 70%;
  background-color: gold;
  border-radius: 50%;
  position:relative;
  transition:all 4s ease-in
}

#cara:hover{
  transform: rotate(360deg) scale(0.5);
}

.pestañas {
  width: 2%;
  height: 10%;
  background-color: rgb(0, 0, 0);
  border-radius: 20%;
  position:absolute;
}

#pesta1 {
  top:18%;
  left:60%;
  transform: rotatez(320deg)
}

#pesta2{
  top:15%;
  left:68%;
 
}
#pesta3{
  top:18%;
  left:75%;
  transform: rotatez(40deg)  
}
#pesta4{
  top:19%;
  left:39%;
  transform: rotatez(40deg) 
}
#pesta5{
   top:15%;
  left:30%;
}
#pesta6{
  top:19%;
  left:23%;
  transform: rotatez(320deg)
}
.ojos {
  width: 17%;
height:17%;
background-color:rgb(0, 0, 0) ;
border-radius: 80%;
position: absolute;
}

#ojoIzq {
top: 20%;
left: 60%;
}

#ojoDer {
top:20%;
right:60%;
}

.boca:hover  {
  background-color: rgb(157, 194, 237);
  } 